/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* 
Personal addition
*/
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  line-height: inherit;
  color: inherit;
  text-decoration: none;
}

button {
  padding: 0;
  font-family: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  max-width: 320px;
  padding: 0 15px;
}
@media screen and (min-width: 575px) {
  .container {
    max-width: 575px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 39px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 992px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    padding: 0 131px;
  }
}

body {
  font-family: "Poppins", sans-serif;
  color: #8f95a5;
}

.title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
@media screen and (min-width: 575px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1600px) {
  .title {
    font-size: 48px;
  }
}

.subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #000000;
}

.text {
  font-size: 13px;
  line-height: 1.6153846154;
  color: #8f95a5;
}
@media screen and (min-width: 575px) {
  .text {
    font-size: 14px;
  }
}

.header {
  margin-bottom: 30px;
}
@media screen and (min-width: 575px) {
  .header {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .header {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1600px) {
  .header {
    margin-bottom: 55px;
  }
}

.nav {
  padding-top: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 992px) {
  .toggle {
    display: none;
  }
}

.toggle__icon {
  width: 34px;
  height: 19px;
}
@media screen and (min-width: 575px) {
  .toggle__icon {
    width: 42px;
    height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .toggle__icon {
    width: 30px;
    height: 17px;
  }
}

.logo {
  font-size: 24px;
  line-height: 1.5;
  color: #000000;
}
@media screen and (min-width: 575px) {
  .logo {
    font-size: 30px;
  }
}
@media screen and (min-width: 1600px) {
  .logo {
    font-size: 54px;
  }
}

.logo__part {
  color: #939393;
}

.hero {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .hero {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    margin-bottom: 60px;
    text-align: start;
  }
}

@media screen and (min-width: 768px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
}

.hero__img {
  margin-bottom: 16px;
}
@media screen and (min-width: 575px) {
  .hero__img {
    padding: 0 43px;
  }
}
@media screen and (min-width: 768px) {
  .hero__img {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    padding: 0;
    margin: 0;
  }
}

@media screen and (min-width: 768px) {
  .hero__wrap {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding-top: 30px;
  }
}

.hero__box {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .hero__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
  }
}

@media screen and (min-width: 575px) {
  .hero__title {
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 217px;
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title--paragraph {
    display: block;
  }
}

.hero__icon {
  display: none;
}
@media screen and (min-width: 768px) {
  .hero__icon {
    display: block;
    width: 72px;
    height: 72px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}

.hero__text {
  margin-bottom: 33px;
  font-size: 14px;
}
@media screen and (min-width: 575px) {
  .hero__text {
    margin-bottom: 37px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .hero__text {
    margin-bottom: 32px;
  }
}

.hero__btn {
  min-width: 100%;
}
@media screen and (min-width: 575px) {
  .hero__btn {
    min-width: 305px;
  }
}
@media screen and (min-width: 768px) {
  .hero__btn {
    min-width: 236px;
  }
}

.btn {
  padding: 18px 43px;
  color: #ffffff;
  background-color: #263238;
  outline: 1px solid #263238;
  border-radius: 5px;
}
.btn:hover, .btn:focus {
  color: #263238;
  background-color: #ffffff;
}

.skills {
  margin-bottom: 50px;
}
@media screen and (min-width: 575px) {
  .skills {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .skills {
    margin-bottom: 60px;
  }
}

.skills__title {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .skills__title {
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 768px) {
  .skills__title {
    margin-bottom: 60px;
  }
}

.skills__list {
  margin: -10px;
  display: grid;
  gap: 34px 30px;
}
@media screen and (min-width: 575px) {
  .skills__list {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}
@media screen and (min-width: 768px) {
  .skills__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, minmax(auto, 1fr));
    gap: 10px;
  }
}

.skills__item {
  padding: 10px 15px 45px;
  border-radius: 5px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 575px) {
  .skills__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5px 15px 35px;
  }
}
@media screen and (min-width: 768px) {
  .skills__item:nth-child(1) {
    grid-row: span 2;
  }
}
@media screen and (min-width: 768px) {
  .skills__item:nth-child(4) {
    grid-column: 2/4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    /* flex-wrap: wrap; */
  }
}

.skills__img {
  margin-bottom: 25px;
}
.skills__img--short {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 0;
}

@media screen and (min-width: 575px) {
  .skills__info {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.skills__info--short {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}

.skills__subtitle {
  margin-bottom: 10px;
}

.skills__text {
  margin-bottom: 25px;
  font-size: 12px;
}
@media screen and (min-width: 575px) {
  .skills__text {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.about {
  margin-bottom: 50px;
}
@media screen and (min-width: 575px) {
  .about {
    margin-bottom: 70px;
  }
}

.about__title {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .about__title {
    margin-bottom: 70px;
  }
}

.about__img {
  margin-bottom: 25px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .about__img {
    padding: 0 80px;
  }
}

.about__text {
  margin-bottom: 25px;
  text-align: center;
}

.about__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: -15px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .about__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.about__item {
  margin: 15px;
}
@media screen and (min-width: 575px) {
  .about__item {
    -ms-flex-preferred-size: 33.333%;
        flex-basis: 33.333%;
  }
}

.about__num {
  margin-bottom: 5px;
}

.pricing {
  margin-bottom: 50px;
}
@media screen and (min-width: 575px) {
  .pricing {
    margin-bottom: 70px;
  }
}

.pricing__title {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .pricing__title {
    margin-bottom: 70px;
  }
}

.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media screen and (min-width: 575px) {
  .pricing__list {
    gap: 78px;
  }
}

.pricing__img {
  margin-bottom: 25px;
}
@media screen and (min-width: 575px) {
  .pricing__img {
    padding: 0 110px;
    margin-bottom: 30px;
  }
}

.pricing__subtitle {
  margin-bottom: 17px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .pricing__subtitle {
    font-size: 24px;
  }
}

.pricing__text {
  margin-bottom: 33px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .pricing__text {
    max-width: 394px;
    margin: 0 auto 30px;
  }
}

.pricing__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 12px;
  margin: 0 auto;
  min-width: 170px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
  background-color: #eeeeee;
}

.pricing__price {
  margin-right: 10px;
  font-size: 18px;
  line-height: 1.5;
  color: #263238;
}
@media screen and (min-width: 575px) {
  .pricing__price {
    font-size: 22px;
  }
}

.pricing__period {
  font-size: 14px;
  line-height: 1.5;
  color: #546269;
}
@media screen and (min-width: 575px) {
  .pricing__period {
    font-size: 16px;
  }
}

.contact {
  margin-bottom: 50px;
}
@media screen and (min-width: 575px) {
  .contact {
    margin-bottom: 70px;
  }
}

.contact__title {
  margin-bottom: 50px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .contact__title {
    margin-bottom: 70px;
  }
}

.contact__img {
  margin-bottom: 55px;
}
@media screen and (min-width: 575px) {
  .contact__img {
    padding: 0 76px;
    margin-bottom: 34px;
  }
}

.contact__text {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .contact__text {
    max-width: 469px;
    margin: 0 auto 60px;
  }
}

@media screen and (min-width: 575px) {
  .mailing {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.mailing__input {
  padding: 16px 26px;
  margin-bottom: 17px;
  width: 100%;
  font-size: 12px;
  line-height: 1.5;
  color: #8f95a5;
  border: 1px solid #8f95a5;
  border-radius: 5px;
}
@media screen and (min-width: 575px) {
  .mailing__input {
    margin-bottom: 0;
    font-size: 13px;
  }
}

.mailing__input::-webkit-input-placeholder {
  color: inherit;
}

.mailing__input::-moz-placeholder {
  color: inherit;
}

.mailing__input:-ms-input-placeholder {
  color: inherit;
}

.mailing__input::-ms-input-placeholder {
  color: inherit;
}

.mailing__input::placeholder {
  color: inherit;
}

.mailing__btn {
  min-width: 100%;
}
@media screen and (min-width: 575px) {
  .mailing__btn {
    min-width: 193px;
  }
}

.footer__wrap {
  padding: 25px 0 50px;
  border-top: 1px solid #8f95a5;
}
@media screen and (min-width: 575px) {
  .footer__wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .footer__logo {
    margin-bottom: 0;
  }
}

.footer__text {
  font-size: 11px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .footer__text {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */