.about {
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 70px;
  }
}

.about__title {
  margin-bottom: 50px;
  text-align: center;

  @include tablet {
    margin-bottom: 70px;
  }
}

.about__img {
  margin-bottom: 25px;
  text-align: center;

  @include tablet {
    padding: 0 80px;
  }
}

.about__text {
  margin-bottom: 25px;
  text-align: center;
}

.about__list {
  display: flex;
  flex-direction: column;
  margin: -15px;

  text-align: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.about__item {
  margin: 15px;

  @include tablet {
    flex-basis: 33.333%;
  }
}

.about__num {
  margin-bottom: 5px;
}
