.contact {
  margin-bottom: 50px;
}

.contact__title {
  margin-bottom: 50px;

  text-align: center;
}

.contact__img {
  margin-bottom: 55px;
}

.contact__text {
  margin-bottom: 31px;

  text-align: center;
}
