.footer {
}

.footer__wrap {
  padding: 25px 0 50px;
  border-top: 1px solid $color-text;

  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 15px;

  text-align: center;

  @include tablet {
    margin-bottom: 0;
  }
}

.footer__text {
  font-size: 11px;
  text-align: center;

  @include tablet {
    font-size: 12px;
  }
}
