.hero {
  padding-bottom: 53px;
  text-align: center;
}

.hero__img {
  margin-bottom: 16px;
}

.hero__title {
  margin-bottom: 20px;
}

.hero__text {
  margin-bottom: 33px;

  font-size: 14px;
}

.hero__btn {
  width: 100%;
}
