.logo {
  font-size: 24px;
  line-height: 1.5;
  color: $color-title;

  @include tablet {
    font-size: 30px;
  }

  @include extra {
    font-size: 54px;
  }
}

.logo__part {
  color: $color-title-secondary;
}
