.skills {
  padding-bottom: 50px;
}

.skills__title {
  margin-bottom: 50px;

  text-align: center;
}

.skills__list {
  margin: -10px;
  display: flex;
  flex-direction: column;
}

.skills__item {
  padding: 8px 16px 45px;
  margin: 10px;

  border-radius: 5px;
  background-color: $bg-color-card;
}

.skills__img {
  margin: 0 auto 30px;
  text-align: center;
}

.skills__subtitle {
  margin-bottom: 10px;
}

.skills__text {
  margin-bottom: 24px;
}
