.skills {
  margin-bottom: 50px;

  @include tablet {
    margin-bottom: 70px;
  }
}

.skills__title {
  margin-bottom: 50px;

  text-align: center;

  @include tablet {
    margin-bottom: 70px;
  }
}

.skills__list {
  margin: -10px;
  display: grid;
  gap: 34px 30px;

  @include tablet {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
  }
}

.skills__item {
  padding: 10px 15px 45px;

  border-radius: 5px;
  background-color: $bg-color-card;

  @include tablet {
    display: flex;
    flex-direction: column;
    padding: 5px 15px 35px;
  }
}

.skills__img {
  margin-bottom: 25px;
}

.skills__subtitle {
  margin-bottom: 10px;
}

.skills__text {
  margin-bottom: 25px;

  font-size: 12px;

  @include tablet {
    flex-grow: 1;
  }
}
