$color-title: #000000;
$color-title-secondary: #939393;

$color-text: #8f95a5;
$color-text-btn: #ffffff;
$color-text-btn-secondary: #546269;

$bg-color-btn: #263238;
$bg-color-btn-secondary: #eeeeee;
$bg-color-card: #f5f5f5;

$mobile: 320px;
$tablet: 575px;
$laptop: 768px;
$desktop: 992px;
$extra: 1600px;
